

<div class="col-md-6 d-flex w-100">
        <div *ngFor="let item of items" class="card card-profile card-plain">
          <div class="card-avatar">
              <a href="#avatar"><img src={{item.image}} alt="..."></a>
          </div>
          <div class="card-block">
              <a href="#paper-kit">
                  <div class="author">
                      <h4 class="card-title">{{item.title}}</h4>
                      <h6 class="card-category">Designer</h6>
                  </div>
              </a>
              <p class="card-description text-center">
              {{item.description}}
              </p>
          </div>
          <div class="card-footer text-center">
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-twitter"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-google-plus"></i></a>
              <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i class="fa fa-linkedin"></i></a>
          </div>
      </div>

    </div>



