
.nav-item .nav-link
 {
  color: #fff;

 }

.nav-item .nav-link:hover
 {
  transform: scale(1.1);
  color: #fff706;

 }

 @media screen and (max-width: 600px) {
  .navbar-brand .logo {
    display: none;
  }
}
