<div class="page-header">
  <!--<img class="tennis-player" src='http://www.ambiance-sticker.com/images/Image/sticker-silhouette-d-une-tenniswoman-ambiance-sticker-SI_0692.png'/>-->
  <img src="../../../assets/images/tennis-court-1920.jpg"/>
  <!--data-parallax="true" style="background-image: url('../../../assets/images/tennis-g50d4a750a_1280.jpg');">-->
  <div class="filter"></div>
  <div class="container-header">
    <div class="motto text-center">
      <h1>Example page</h1>

      <h3>Start designing your landing page here.</h3>
      <br />
      <a
        href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"
        class="btn btn-outline-neutral btn-round"
        ><i class="fa fa-play"></i>Watch video</a
      >
      <button type="button" class="btn btn-outline-neutral btn-round">
        Download
      </button>

    </div>

  </div>

  <div class="center">
    <div class="ball"></div>
    <div class="shadow"></div>
  </div>
</div>
