
<app-header></app-header>
<div class="main">
  <div class="section text-center">
    <app-profile></app-profile>
</div>
<div class="section section-brown">
  <div class="container-fluid">
      <div class="row">
        <h2 >Les Techniques de Base</h2>
        <div class="col-md-6 mr-auto ml-auto mt-4 w-100">
            <app-favorite-card></app-favorite-card>
          </div>
      </div>
  </div>

</div>
<div class="section-paralax text-center">
  <h1 class="title text-white">Les Contrôles De Balle</h1>
  <div class="backdrop"></div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 m-auto">
        <video src="../../../assets/images/tennis-14236.mp4" width="100%" loop="true" autoplay="true"></video>
      </div>

    </div>
    <button type="button" class="btn btn-outline-neutral btn-round mb-3">
      En Savoir Plus
    </button>

      </div>
  </div>
 
  <div class="section section-brown">
    <div class="container-fluid">
        <div class="row">

            </div>
        </div>
    </div>
</div>

