


 <nav class="navbar navbar-expand-lg mb-1">
	<div class="container-fluid">
    <a class="navbar-brand" href="#page-top"><img class="logo" src="../../../assets/logos/logo.png" alt="..." width="200"/></a>

		<!-- Step 3: Toggle the value of the property when the toggler button is clicked. -->
		<button class="navbar-toggler text-white" type="button"  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">&#9776;</button>

		<div id="navbarSupportedContent" class="collapse navbar-collapse">
			<ul class="navbar-nav">

					<!-- Step 4: Close the menu when a link is clicked. -->
					<div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button
              type="button"
              class="btn me-2"
              id="dropdownManual"
              (click)="isMenuCollapsed = !isMenuCollapsed"
              ngbDropdownAnchor
              (focus)="myDrop.open()"

            >
              Techniques de base
            </button>
            <div class="drop-item" ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem>Coup Droit</button>
              <button ngbDropdownItem>Revers</button>
              <button ngbDropdownItem>Service</button>
            </div>
          </div>

				<li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="!isMenuCollapsed">Accueil</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="!isMenuCollapsed">À Propos</a>
				</li>
        <li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="!isMenuCollapsed">Ateliers</a>
				</li>
        <li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="!isMenuCollapsed">Cours</a>
				</li>
        <li class="nav-item">
					<a class="nav-link" [routerLink]="'.'" (click)="!isMenuCollapsed">Me Joindre</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

