
<div class="main-container">
  <div class="main-header">
    <div class="overlay">
      <h1>COURS PRIVÉ | SEMI-PRIVÉ | PETIT GROUPE</h1>
    </div>

    <div class="img-box"></div>
  </div>
<section class="section-prices">
  <h3 class="title">TARIFS</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Tarif Horaire Adulte <br>(18 ans +)</th>
        <th scope="col">Tarif Horaire Junior <br>(5 à 17 ans)</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-light">
        <th scope="row">Privé</th>
        <td>45$</td>
        <td>35$</td>
      </tr>
      <tr>
        <th scope="row">Semi-Privé</th>
        <td>25$/pers</td>
        <td>20$/pers</td>
      </tr>
      <tr class="table-light">
        <th scope="row">Groupe 3 Pers</th>
        <td>18$/pers</td>
        <td>15$/pers</td>
      </tr>
      <tr>
        <th scope="row">Groupe 4 Pers</th>
        <td>15$/pers</td>
        <td>12$/pers</td>
      </tr>
    </tbody>

  </table>
  <p class="table-text">* Les prix n’incluent pas les frais de terrain qui seront divisés entre les élèves s’il y a lieu (s'applique seulement pour la réservation d'un terrain au Stade IGA).</p>
</section>



    <div class="courses-box">
      <div class="header">
        <h3>Mini Programme de Tennis Progressif</h3>
      </div>
      <div class="infos">
        <div class="courses-text">
          <div class="text">
            Le tennis progressif utilise une progression méthodique
            de la superficie du terrain, du genre de balles et de la taille des raquettes pour
            adapter le jeu au niveau des joueurs de 5 à 9 ans.<br><br>
            J'offre un programme de mini tennis progressif qui comporte un total de 8 cours qui s'échelonne sur 4 semaines à raison de
            deux cours par semaine.<br>
            Le tarif est de 120$ par participant pour les 8 heures de cours.<br>
            Le programme de mini tennis progressif comportent 4 blocs :<br><br>

            <div><br>
              <ol class="list-group list-group-numbered">
                <li class="list-group-item">Percevoir, Attraper et Lancer (Habiletés motrices)</li>
                <li class="list-group-item">Contrôle de la raquette</li>
                <li class="list-group-item">Coordination du corps</li>
                <li class="list-group-item">Échanger</li>
              </ol>
            </div>
            <br><br>
            Ces 4 blocs permettent de développer les fondamentaux appropriés (coup droit, revers, service) afin que le joueur puisse échanger en coopération avec un autre joueur à micro-terrain.

          </div>
        </div>
        <div class="courses-img">
          <img src="../../../assets/images/girl-3565976_1280.jpg" alt="">
        </div>
      </div>

    </div>
        <div class="costs-box">
          <div class="card">
            <div class="card-body">
              <div class="header-box">
                 <h5 class="card-title">Format du Programme</h5>
                 <span><img src="../../../assets/icons/raquet-tennis-icon.png" alt=""></span>
              </div>

              <h6 class="card-subtitle mb-2 text-muted">Cours d'une heure</h6>
              <div class="infos-box">
                <p class="card-text">Nbre de participants </p><span class="badge text-bg-warning text-white">4</span>
              </div>
              <div class="infos-box">
              <p class="card-text">Nbre de semaines</p><span class="badge text-bg-danger">4</span>
              </div>
              <div class="infos-box">
              <p class="card-text">Nbre de cours / sem</p> <span class="badge text-bg-success">2</span>
            </div>
            <div class="infos-box">
              <p class="card-text">Coût Total</p><span class="badge text-bg-primary">120$</span>
            </div>
            <p class="details">15$ par enfant par cours</p>
              <a href="#" class="card-link">Another link</a>
            </div>
        </div>

        </div>






