
<div class="container">
  <div class="box-1">
    <img
      class="avatar"
      src="../../../assets/images/profil.jpg"
      alt="Ma Photo"
    />
  </div>
  <div class="box-2">
    <h2 class="box-title">Un peu plus sur moi</h2>
    <h5 class="description">
      Je joue au tennis depuis l'âge de 14 ans. Je suis un joueur récréatif qui
      est passionné par ce sport. Puisque le tennis est le sport d'une vie, je
      recherche constamment à m'améliorer et à perfectionner ma technique et mon
      style de jeu. J'ai toujours aimé partager mes connaissances avec d’autres
      joueurs afin de les aider à progresser et à s’améliorer.
      <br /><br />Récemment, j’ai décidé de réorienter ma carrière et de me
      consacrer entièrement à ma passion. J’ai suivi le stage d’instructeur dans
      l’optique de transmettre ma passion aux jeunes dans le but de les motiver,
      les conseiller et leur inculquer l’amour pour ce sport afin qu’il le
      pratique pour le restant de leur vie. Je suis un instructeur certifié par
      Tennis Canada et membre de l'Association des Professionnels du Tennis,
      j'offre des cours de tennis peu importe votre niveau.
    </h5>
    <br />
  </div>
</div>
<br />
